.tags{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.display--flex{
  display: flex;
}

.icons-size{
  padding-right: 0.35rem;
  font-size: small;
}

.collumns{
  justify-content: space-between;
}

.container{
  padding-right: 15rem;
}