body{
  color: #24292d;
  
}


/* -----  cores   ----- */
.bg-primary{
  background-color: #066ac9!important;
}

.bg-secondary{
  background-color: #f4f6f7!important;
}

.text-muted{
  color: #747579!important;
}

.f-laranja{
  color: #fd7e14;
}

.f-vermelho{
  color: #d6293e;
}

.f-verde{
  color: #0ebc88;
}

.f-escuro{
  color: #24292d;;
}

.text-warning{
  color: #f7c32e;
}

.cor-bg-populares{
  background-color: rgb(203, 233, 255);
}

.cor-banner-instrutor{
  background-color: #17a2b8;
}

.botao-play{
  color: #066ac9;
}



/* -----  botoes   ----- */
.btn-primary{
  background-color: #066ac9;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
  background-color: #e6f0f9;
  color: #066ac9;
  border: 1px solid #066ac9;
}

.btn-secondary{
  font-size: 0.75rem;
  background-color:#e6f0f9 ;
  color: #066ac9;
  border: none;
}

.btn-secondary:hover, .btn-secondary:focus {
  color:#e6f0f9 ;
  background-color: #066ac9;
  border: none;
}

.btn-danger{
 background-color:#fbe9eb;
 color: #d6293e;
 font-size: medium;
 font-weight: 600;
 border: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger  {
  color: #fbe9eb;
  background-color:#d6293e;
  border-color: none;
}  


.btn-warning{
  color: #f7c32e;
  background-color: transparent;
  border-color: #f7c32e;
  border-width: 2px;
}

.btn-warning:hover, .btn-warning:focus{
  color: white;
  background-color: #f7c32e;
}



/* -----  placas   ----- */

.placas i{
  font-size: 3.5rem;
}

.placas__1{
  background-color: #fef6e0;
  color: #f7c32e;
}

.placas__2{
  background-color: #e8ebed;
  color: #1d3b53;
}

.placas__3{
  background-color: #f0ecf9;
  color: #6f42c1;
}

.placas__4{
  color: #17a2b8;
  background-color: #e7f6f8;
}



/* -----  badges   ----- */

.badge-roxo{
  background-color: #f0ecf9;
  color: #6f42c1;
}

.badge-verde{
  background-color: #e6f8f3 ;
  color: #0ebc88;
}

.badge-azul{
  background-color:#e6f0f9 ;
  color: #066ac9;
}

.badge-preto{
  background-color: #24292d;
  color: #e8ebed;
}




/* -----  nav e navbar   ----- */

.navbar-nav, .nav {
  font-size: 0.75rem;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #066ac9;
}

.nav-pills .nav-link.active{
  background-color: #066ac9;
  color: #e8ebed;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #066ac9;
  color: #e8ebed;
}

.dropdown-item:hover, .dropdown-item:focus{
  background-color: #e6f0f9;
}

#perfil{
  background-image: url('../img/portrait-1.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}



/* -----  topo   ----- */
.brush-stroke{
  background-image: url('../img/brush-stroke.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3px 50px 10px 15px;
  margin: auto auto auto 8px;
  color: #24292d;
}

.card-daily{
  position: absolute;
  top: 100px;
  right: 0;
  color: #e8ebed;
  width: 12rem;
  background-image: url('../img/bg-triangulos.png');
  background-size: cover;
  background-color: #0ebc88d7;
}

.daily-students-wrapper img{
  margin-right: -10px;
}

.daily-students-wrapper :last-child{
  margin-right: auto;
}

.daily-students{ 
  border: 2px solid #e6f0f9;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.card-messages{
  position: absolute;
  bottom: 100px;
  left: 40;
  width: 16rem;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-color: #e8ebed;
}

.card-messages .card-body{
  color: #e8ebed;
}

@media screen and (max-width: 767px) {
  .card-messages{
    bottom: 0px;
    left: -80px;
    background-color: transparent;
  }

  .card-messages .card-body{
    color: #24292d;
  }
  
  .card-daily{
    top: 100px;
    right: -80px;
  }
}

@media screen and (max-width: 575px) {
  .card-messages{
    bottom: 120px;
    left: 250px;
    background-color: transparent;
  }
}

@media screen and (max-width: 520px) {
  .card-messages{
    display: none;
  }

  .card-daily{
    top: 0px;
    right: -50px;
    width: 9rem;
  }

  .daily-students-wrapper img{
    margin-top: -25px;
  }
}


/* -----  trending   ----- */
.cards-wrapper{
  display: flex;
}

.cards-wrapper .card {
  margin: 0 .5rem ;
}

#avatar{
  height: 45px;
  width: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 8%;
}

.card-ratings{
  background-image: url('../img/bg-triangulos.png');
  background-size: cover;
}

.carousel-control-prev, .carousel-control-next{
  background-color: #f0ecf99d;  
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev span, .carousel-control-next span{
  width: 1.5rem;
  height: 1.5rem;
}



/* -----  feedback   ----- */
#avatar-card-wrapper{
  width: 80px;
  height: 80px; 
  overflow: hidden; 
  border-radius: 50%;
}

#avatar-card-wrapper img{
  width: 100%;
  height: auto;
}

#flip-icon{ 
  display: inline-block;
  transform: rotate(180deg);
}

.shield-wrapper{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f7c32e;
  top: -20px;
  right: -40px;
}

.shield{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width:990px) {
  .shield-wrapper{
    right: -40px;
  }
  
}

@media screen and (max-width: 767px) {
  .shield-wrapper{
    top: -10px;
    right: -175px;
  }
  
}

@media screen and (max-width: 650px) {
  .shield-wrapper{
    right: -100px;
  }
  
}

@media screen and (max-width: 440px) {
  .shield-wrapper{
    right: -60px;
  }
  
}

/* -----  footer   ----- */
.app-store{
  width: 106px;
}

.icones-redes{
  width: 26px;
  box-shadow: 0px 0px 12px 12px rgba(180, 174, 180, 0.075);
}






