i {
  padding-bottom: 0rem;
  vertical-align: middle;
}

hr {
  margin: 0.45rem 0 0.45rem 0;
}

.extra-container{
  padding-left: 8rem;
  padding-right: 8rem;
}


.margin-b{
  margin-bottom: 0.75rem;
}

.margin-top{
  margin-top: 0.75rem;
}

/* 
cartao 
*/


.cartão-fonte{
  font-size: 0.65rem;
}

.cor-bg{
  background-color: rgb(203, 233, 255);
  
}
 
/* 
nav */
.padding-novo{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-fonte{
  font-size: 0.70rem;
}